

.Quote>*{
    padding: 1rem;
    border: 1px dashed var(--grey);

}

.Quote{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: first flex-end;

}
.qoute_top{
    width: 70%;
}

.qoute_bottom{
    width: fit-content;
}


.box{
    position: absolute;
    right: -10rem;
    border: 1px solid var(--grey);
    border-right: none;
    width: 3rem;
    height: 3rem;

}